<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MST</display-name>
 
  
  <welcome-file-list>
    <welcome-file>kaiji.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <filter>  
     <filter-name>SetCharacterEncoding</filter-name>  
     <filter-class>com.jyss.mst.util.SetEncodingFilter</filter-class> 
    <!--  <async-supported>true</async-supported>    -->
     <init-param>  
        <param-name>encoding</param-name>  
        <param-value>UTF-8</param-value>  
     </init-param>  
  </filter>  
 
	<filter-mapping>  
	    <filter-name>SetCharacterEncoding</filter-name>  
	    <url-pattern>/*</url-pattern>  
	</filter-mapping>  
  
   <servlet>
    <servlet-name>MyDownLoad</servlet-name>
    <servlet-class>com.jyss.mst.action.MyDownLoadServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>DownLoad</servlet-name>
    <servlet-class>com.jyss.mst.action.DownLoadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CmdPcServlet</servlet-name>
    <servlet-class>com.jyss.mst.action.CmdPcServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadWarServlet</servlet-name>
    <servlet-class>com.jyss.mst.action.UploadWarServlet</servlet-class>
  </servlet>

 


  <servlet-mapping>
    <servlet-name>MyDownLoad</servlet-name>
    <url-pattern>/myLoad</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>DownLoad</servlet-name>
    <url-pattern>/Load</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CmdPcServlet</servlet-name>
    <url-pattern>/cmdPc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadWarServlet</servlet-name>
    <url-pattern>/upWar</url-pattern>
  </servlet-mapping>
  
  
</web-app>